.logo {
    img {
      width: 150px;
      height: auto;
     }
    }

      nav.menu {
  ul {
    display: flex;
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      margin-right: 20px;

      a {
        text-decoration: none;
        color: #333;
        padding: 5px 0;
        display: inline-block;

        &:hover {
          background-color: #fb6731;
          color: white;
          
        }
      }
    }
  }
}
