.logo {
    img {
      width: 150px;
      height: auto;
     }
    }

     nav {
  ul {
    display: flex;
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      margin-right: 20px;

      a {
        text-decoration: none;
        color: #333;
        padding: 5px;
        border-radius: 5px;
        // Hover opcional
        /* &:hover {
          background-color: #eee;
        } */
      }

      a.active {
        background-color: #fb6731;
        color: white;
      }
    }
  }
}
