<section class="presentation">
  <span class="pre-title">Present your Service</span>
  <h1>Make landing page fast and easily.</h1>
  <span class="post-title">
    Create custom landing pages with Shades that convert<br />
    more visitors than any website—no coding required.
  </span>

  <form class="subscribe-form">
    <input type="email" placeholder="Enter your email" />
    <button type="button" btn-subscribe>Subscribe</button>
  </form>

  <p>Trusted by over 50,000+ customers</p>
</section>
